.delete-project-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #F3F4FF;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.36);
    border-radius: 18px;
    box-sizing: border-box;
    border: none;
    padding: 30px 50px;
}

.delete-project-dialog h3 {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
}

.delete-project-dialog div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delete-project-button, .leave-project-button {
    height: 52px;
    border-radius: 15px;
    border: none;
    filter: drop-shadow(0px 2px 11px rgba(0, 0, 0, 0.25));
    font-size: 18px;
    width: fit-content;
    box-sizing: border-box;
    padding: 15px 25px;
    color: #FAF6F6;
    background: linear-gradient(177.65deg, #FD0000 1.97%, rgba(253, 0, 0, 0) 182.42%);
    cursor: pointer;
    transition: 0.2s;
}

.delete-project-button:hover, .leave-project-button:hover {
    background: linear-gradient(177.65deg, #e47e7e 1.97%, rgba(253, 0, 0, 0) 182.42%);
}

.close-delete-project-dialog-button {
    font-size: 18px;
    transition: 0.2s;
    cursor: pointer;
}

.close-delete-project-dialog-button:hover {
    transform: translateY(-1px);
    color: #8e8bd6;
}